{{ define "main" }}
<article class="page-content">
  <div class="container container-small">
    <h1 class="page-title">News</h1>
    <div class="page-body">
      <ul class="news-list">
        {{ range .Pages.ByDate.Reverse }}
        <li>
          <a href="{{ .RelPermalink }}" class="text-link">{{ .Title }}</a>
          <span class="page-meta"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></span>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</article>
{{ end }}
